.card-right__container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    padding-bottom: 2.5rem;
    border-bottom-right-radius: 10% ;
    background-color: rgb(247, 247, 247);
}

.card-right__title{
    position: relative; 
    margin-top: 1.5rem;
    text-align: center;
    margin-bottom: 0rem;
    font-weight: 700;
    font-size: 50px;
    display: inline;
}

.card-right__subtitle{
    position: relative; 
    font-weight: 400;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 1rem;
    display: inline;
}

h1 span {
    position:absolute;
    margin-right: -1rem;
    right:0;
    width:0;
    background: rgb(247, 247, 247);
    border-left: 1px solid #000;
    animation: escribir 4s steps(12) alternate;
}

h3 span {
    position:absolute;
    right:0;
    width:0;
    background: rgb(247, 247, 247);
    border-left: 1px solid #000;
    animation: escribir 5s steps(30) alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

.card-right__text{
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
}


.card-right__button-right{
    margin-left: 2rem;
    border: solid 2px #3498a7e5;
}

.card-right__button-right:hover{
    background-color: rgba(41, 40, 40, 0.117);
}

.card-right__button-left{
    background-color: #34b3c6;
}

.card-right__button-left:hover{
    background-color: #39d6eee5;
}

a{
    text-decoration: none;
    color: white
  }

.card-right__button-link {
    color: #3498a7e5;
    font-weight: 700;
  }





