.card-right__container{
    width: 50%;
    height: 100%;
    text-align: center;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    padding-bottom: 2.5rem;
    border-bottom-right-radius: 10% ;
    background-color: rgba(26, 24, 24, 0.065);
}

.card-right__title{
    margin-top: 1.5rem;
    text-align: center;
    margin-bottom: 0rem;
    font-weight: 700;
    font-size: 50px;
}

.card-right__subtitle{
    font-weight: 400;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 1rem;
}

.card-right__text{
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
}


.card-right__button-right{
    margin-left: 2rem;
    border: solid 2px #3498a7e5;
}

.card-right__button-right:hover{
    background-color: rgba(41, 40, 40, 0.117);
}

.card-right__button-left{
    background-color: #34b3c6;
}

.card-right__button-left:hover{
    background-color: #39d6eee5;
}

a{
    text-decoration: none;
    color: white
  }

.card-right__button-link {
    color: #3498a7e5;
    font-weight: 700;
  }





