.info-link__container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 10rem;
    align-items: center;
    margin-right: 1.5rem;
}



.info-link__title{
   display: inline;
   font-weight: 700;
}

.info-link__data{
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: black ;
    transition: transform 0.2s, color 0.2s;
    
 }

 .info-link__data:hover{
    transform: scale(1.1);
    color: #0c6472;
 }

 .info-link__image{
   width:40%;
   margin-top: 0.2rem;
   
 }