.info-link__container{
   display: flex;
   text-align: start;
   align-items: center;
   margin-bottom: 1rem;
}


.info-link__title{
   display: inline;
   font-weight: 700;
   padding-right: 0.7rem;
   color: rgb(255, 252, 252);
}

.info-link__data{
    display: flex;
    cursor: pointer;
    color: black ;
    transition: transform 0.2s, color 0.2s;
    
 }

 .info-link__data:hover{
    transform: scale(1.1);
    color: #0c6472;
 }

 .info-link__image{
   width:5rem;
   margin-top: -0.2rem;
   
 }

 @media (min-width:750px){
   .info-link__container{
      display: flex;
      flex-direction: column;
      text-align: end;
      align-items: center;
      margin-bottom: 1rem;
      margin-right: 2rem;
   }
 }