.curriculum__card-div{
    background-color: #269aaced;
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.7rem;
    border-radius: 20px;
}


.cirriculum__card-image-div{
    width: 15%;
    align-self: flex-start;
    text-align: center;
    padding-top: 1rem;
}

.cirriculum__card-image{

    width: 4rem;
    height: 4rem;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: -5px 0px 30px rgba(0, 0, 0, 0.516);
}

.curriculum__card-title-div{
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    justify-content: space-between;
}

.curriculum__card-text-div{
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-right: 1.5rem;
    
}

.curriculum__card-title{
    margin: 0px;
    margin-right: 1.5rem;
    color: white;
    font-size: 1.5rem;
}

.curriculum__card-span{
    align-self: start;
    font-size: 16px;
    text-align: end;
    padding-top: 0.5rem;
    
}

.curriculum__card-text{
    margin-top: 0;
}

.display-none{
    display: none;
}

.curriculum__text{
    margin-top: 0.5rem;
    
}

.curriculum__card-text-div > p {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 3rem;
}

div > p > b{
    font-size: 20px;
    
}