.app__container{
  box-sizing: border-box;
  min-width: 50vw;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)

}

.total-div{
  width: 100%;
  display: flex;
  height: 100vh;
  position: relative;
  font-family: 'Play', sans-serif;
}


.background-image{
  background-image: url("/fondo.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: .8;
  z-index: -1;
}

#pages__background-image{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-image: url(/pxfuel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-home__container{
  display: flex;
  justify-content: space-between;
  align-items: start;
  align-self: end;
  margin: 0;
  width: 100%;
}




