.total-div{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/fondo.jpg");
    background-repeat: no-repeat;
    background-color: rgb(226, 226, 226);
    font-family: 'Play', sans-serif;
}

@media ( min-width:550px ){
    .total-div{
        background-size: contain;
    }
}

@media ( min-width:750px ){
    .total-div{
        height: 100vh;
        background-image: none;
        background-color: transparent;
    }

    #background-image-main{
            position: fixed;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            z-index: -1;
            overflow: hidden;
            background-image: url('/fondo.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;  
    }
}





