.card-left__container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-top-left-radius: 10%;
    background-color: #269aacb1;
    box-shadow: -20px 10px 20px rgba(0, 0, 0, 0.168);
    
}

.card-left__top-container{
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    
}

.card-left__top{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: -2rem;
}

#card-left__image{
    align-self: center;
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.424);
    border: 1px solid white;
}

.card-left__name{
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 2rem;
    border-bottom: solid white;
    padding-bottom: 1.5rem;
    color: rgb(0, 0, 0);
}

.card-left__profesion{
    font-size: 2rem;
    font-weight: 300;
    margin-top: 1.5rem;
    font-family: 'Didact Gothic', sans-serif;
    
}

.card-left__bottom{
    background-color: rgba(255, 255, 255, 0.725);
    width: 100%;
    height: 4rem;
    align-items: center;
    display: flex;
    justify-content: space-evenly
}

.card-left__links{
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease;
}

.card-left__links:hover{
    transform: scale(1.3);
}