div > .proyectos__total-div{
    justify-content: center;
    background-image: url(/proyectos-background.jpg);
}

.proyectos__cards-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    align-self: center;
}